<%= form_for(@pattern, :html => {:id => 'manage_pattern'}) do |f| %>

<%= render 'layouts/form_required_introduction' %>

<%= render 'layouts/form_errors', :errors => @pattern.errors %>

<div class="accordion">
<h2>
  <a href="/noJs.html" title="Expand / collapse the following section">
    General information
  </a>
  <div>
  </div>
</h2>

<div>
  <fieldset class="default-layout">
    <label>
      Name <%= render 'layouts/form_required_marker' %> :
      <%= f.text_field :name, :autofocus => 'autofocus' %>
      <%= render 'layouts/form_field_errors', :errors => @pattern.errors[:name] %>
    </label>

    <label>
      Slug <%= render 'layouts/form_required_marker' %> :
      <%= f.text_field :slug %>
      <%= render 'layouts/form_field_errors', :errors => @pattern.errors[:slug] %>
    </label>
  </fieldset>

  <input type="submit" value="Next step" class="navbutton next"/>

  <p class="clearFloat"></p>
</div>


<h2>
  <a href="/noJs.html"
       title="Expand / collapse the following section">
    Textual description
  </a>

  <div>
  </div>
</h2>
<div class="textual-description-step">
  <div id='wmd-button-bar'></div>
  <%= f.text_area :description, :class => 'markdownEditor', :id => 'wmd-input' %>
  <div id='wmd-preview' class='preview'></div>
  <%= render 'layouts/form_field_errors', :errors => @pattern.errors[:description] %>

  <input type="submit" value="Previous step" class="navbutton previous"/>
  <input type="submit" value="Next step" class="navbutton next"/>
  <input type="submit" value="Toggle preview size" class='togglePreviewSize'/>
  <p class="clearFloat"></p>
</div>



<h2>
  <a href="/noJs.html"
       title="Expand / collapse the following section">
    Relationships
  </a>
  <div>
  </div>
</h2>
<div class="relationships">
  <div class="entries">
    <div>
        <%= f.fields_for :outgoing_relationships do |builder| %>
          <%= render "outgoing_relationship_fields", :f => builder %>
        <% end %>
      <%= button_to_add_fields 'Add relationship', f, :outgoing_relationships, 'input_add_relationship' %>
      </div>
  </div>


  <input type="submit" value="Previous step" class="navbutton previous"/>
  <input type="submit" value="Next step" class="navbutton next"/>

  <p class="clearFloat"></p>
</div>



<h2><a href="/noJs.html"
       title="Expand / collapse the following section">
  Tags
</a>

  <div>
  </div>
</h2>
<div class="categories_tags">
  <div class="hidden">
    {{ form.tags }}
  </div>

  <div class="content_tags">
    <fieldset>
      <label for="input_tag" class="hidden">Add tag</label>
      <input id="input_tag" type="text"
             placeholder="Add tag"
             class="tag_autocomplete"/>
      <input id="add_tag" type="submit" value="Add"/>
      <ul class="propose_tag_out">
        <li></li>
      </ul>
    </fieldset>

    <ul id="output_tag">
    </ul>
  </div>

  <input type="submit" value="Previous step" class="navbutton previous last"/>

  <p class="clearFloat"></p>
</div>
</div>
<p class="accordion-manage-links">
  <a href="/noJs.html" title="Open all" class="open-all">Open all</a>
  <a href="/noJs.html" title="Close all" class="close-all">Close all</a>
  <a href="/noJs.html" title="Show all with errors" class="with-errors">
    Show all with errors
  </a>
</p>

<div>
  <input type="submit" value="Submit" id="in_submit_pattern"/>
  <input type="submit" value="Cancel" id="in_cancel_pattern"/>
  <input type="submit" value="Reset" id="in_reset_pattern"/>
</div>

<% end %>