<% title @pattern.name %>
<% set_active_page :browse %>

<p>
  <b>Name:</b>
  <%= @pattern.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @pattern.slug %>
</p>

<p>
  <b>Description:</b>
  <%= @pattern.description %>
</p>

<p>
  <b>Outgoing relationships:</b>
  <ul>
    <% @pattern.outgoing_relationships.each do |relationship| %>
    <li>
      &lt;&lt;<%= relationship.relationship_type.name %>&gt;&gt;<br />
      Target: <%= link_to relationship.target.name, relationship.target %><br />
      <%= relationship.description %>
    </li>
    <% end %>
  </ul>
</p>

<p>
  <b>Incoming relationships:</b>
  <ul>
    <% @pattern.incoming_relationships.each do |relationship| %>
    <li>
      &lt;&lt;<%= relationship.relationship_type.name %>&gt;&gt;<br />
      Source: <%= link_to relationship.source.name, relationship.source %><br />
      <%= relationship.description %>
    </li>
    <% end %>
  </ul>
</p>

<% content_for :sidebar do %>
    <% if editor? %>
        <div class='box'>
          <h2>Editing</h2>
          <ul>
            <li><%= link_to 'Edit', edit_pattern_path(@pattern) %></li>
            <li><%= link_to 'Destroy', @pattern, :confirm => 'Are you sure?', :method => :delete %></li>
          </ul>
        </div>
    <% end %>

    <div class='box'>
      <h2>Table of contents</h2>
      <ol>
        <li>Problem
          <ol>
            <li>Intro</li>
            <li>Details</li>
          </ol>
        </li>
        <li>Solution</li>
        <li>Rationale</li>
        <li>Discussion</li>
      </ol>
    </div>

    <div class='box'>
      <h2 class='file'>Related images &amp; files</h2>
      <ul>
        <li>
          Model-View-Presenter
        </li>
      </ul>
    </div>

    <div class='box'>
      <h2>Sources</h2>
      <ul>
        <li><a href="#">Wikipedia</a></li>
        <li><a href="#">Martin Fowler - PoEAA</a></li>
      </ul>
    </div>

    <div class='box'>
      <h2 class='tag'>Tags</h2>
      <ul>
        <% @pattern.tags.each do |tag| %>
        <li>
          <%= tag.name %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class='box'>
      <h2 class='related'>Similar patterns</h2>
      <ul>
        <li>
          Model-View-Presenter
        </li>
      </ul>
    </div>
<% end %>
