<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <title>
    <%= content_for?(:title) ? yield(:title) + ' - ' : '' %>
    Open Pattern Repository
  </title>
  <%= stylesheet_link_tag 'application' %>
  <link rel='shortcut icon' href='assets/favicon.png' type='image/png' />
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<a name='top'></a>
<header class='page'>
  <div class='header_indention'>
    <h1>
      <a href='/' title='Go to the landing page.'>
        <img src='assets/logo.png' alt='multiple hexagons'/>
        <span>Open Pattern Repository</span>
      </a>
    </h1>
    <nav>
      <ul>
        <li>
          <a accesskey='1' href='/' class='<%= active_page?(:start) %>'
             title='Go to the landing page.'>
            Start
          </a>
        </li>
        <li>
          <a accesskey='2' href='/browse' class='<%= active_page?(:browse) %>'
             title='Browse through the patterns'>
            Browse
          </a>
        </li>
        <li>
          <a accesskey='3' href='/search' class='<%= active_page?(:search) %>'
             title='Search for patterns'>
            Search
          </a>
        </li>
        <li>
          <a accesskey='4' href='/pattern/add' class='<%= active_page?(:add) %>'
             title='Add a new pattern'>
            Add
          </a>
        </li>
        <li>
          <a accesskey='5' href='/' class='<%= active_page?(:learn_more) %>'
              title='Learn more about the OPR'>
            Learn more
          </a>
        </li>
      </ul>
    </nav>
    <aside>
      <!-- include login -->
    </aside>
  </div>
</header>
<div id='page_content'>
  <%= yield %>
</div>
</body>
</html>